* {
  font-size: 10px;
  margin:0;
}

a {
  text-decoration: none !important;
}

.navbar {
  height: 6rem;
}

.navbar a {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 0 0 6rem;
  color: white;

}

.navbar a:hover{
  font-weight: 600;
  color: white;
}

li {
  list-style-type: none;
}